<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ejs training </title>
</head>
<body>
  // هاي صيغه ejs 
  <h1>hello <%=name%></h1>
   

  <p> we are using the server to build html file </p>
  
</body>
</html>